.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #111;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #444;
}

footer {
  background-color: #111;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  border-top: 1px solid #444;
}

footer a {
  color: #00aaff;
  text-decoration: none;
  margin: 0 10px;
}